# ===================== MDK-ARM Keil 编译产物 =====================
# 目标输出文件夹（APP1/APP2/BOOT 所有编译文件）
MDK-ARM/**/Debug/
MDK-ARM/**/Release/
MDK-ARM/**/*.axf
MDK-ARM/**/*.hex
MDK-ARM/**/*.bin
MDK-ARM/**/*.map
MDK-ARM/**/*.lnp
MDK-ARM/**/*.htm
MDK-ARM/**/*.crf
MDK-ARM/**/*.d
MDK-ARM/**/*.o
MDK-ARM/**/*.dep
MDK-ARM/**/*.build_log.htm
MDK-ARM/**/*.bak
MDK-ARM/**/*.sctx
MDK-ARM/**.#L.*

# Keil 临时缓存、窗口布局、用户配置
*.uvgui*
*.opt
*.bak
*.$$$
*.sav
MDK-ARM/*.uvoptx
MDK-ARM/*.uvguix.*

# ===================== 编译工具/调试文件 =====================
# J-Link / ST-Link 调试缓存
*.elf
*.out
*.mem
*.log
*.trace
*.svd
*.map
*.hex
*.bin

# ===================== 系统临时文件 =====================
# Windows
Thumbs.db
.DS_Store
desktop.ini
*.tmp
*.temp
*.swp
*.swo

# ===================== 第三方工具/OTA相关临时文件 =====================
# Ymodem、升级工具临时缓存
upgrade_temp/
fw_temp/
*.ota
*.zip
*.rar

# ===================== 文档、导出文件（按需保留） =====================
# 注释放开下面会忽略PDF手册、Word/MD笔记，不想忽略就保留#
# *.pdf
# *.docx
# *.md

# ===================== 仿真器、下载器缓存 =====================
JLinkLog.txt
JLinkSettings.ini
ST-LINK*.log